name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.x
     
    - name: Restore dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --no-restore
    
    - name: Publish
      run: dotnet publish -r win-x64 --configuration Release
    
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: ringvideos
        path: "./RingVideos/bin/Release/netcoreapp3.1/win-x64/publish"
        
        
    - name: Publish for Linx
      run: dotnet publish -r linux-x64 --configuration Release
    
    - name: Upload a Linux Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: ringvideos-linux
        path: "./RingVideos/bin/Release/netcoreapp3.1/linux-x64/publish"

